/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/modifiers.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping_term_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap: {
        compatible = "zmk,keymap";

        default_layer {
// -------------------------------------------------------------------------------------
// |   Q   |   W   |   E   |    R   |  T  |  1   |                |  1  |  Y  |    U   |   I   |   O   |   P   |
// | CMD/A | ALT/S | CTL/D | SHFT/F |  G  |  2   |    | TAB  |    |  2  |  H  | SHFT/J | CTL/K | ALT/L | CMD/' |
// |   Z   |   X   |   C   |    V   |  B  |  3   |    | RET  |    |  3  |  N  |    M   |   ,   |   .   |   /   |
// | CTRL  |  ALT  |  CMD  |  SHFT  | DEL | BSPC |    | CAPS |    | SPC | SPC |  CMD   |  ALT  |  CTRL |   ;   |
//                         
		bindings = <
   &kp Q       &kp W      &kp E       &kp R       &kp T   &kp A               &kp A     &kp Y     &kp U       &kp I       &kp O      &kp P     
   &hm LCMD A  &hm LALT S &hm LCTRL D &hm LSHFT F &kp G   &kp B     &kp TAB   &kp B     &kp H     &hm RSHFT J &hm RCTRL K &hm RALT L &hm RCMD SQT  
   &kp Z       &kp X      &kp C       &kp V       &kp B   &mo C     &kp RET   &kp C     &kp N     &kp M       &kp COMMA   &kp DOT    &kp FSLH  
   &kp LCTRL   &kp LALT   &kp LCMD    &kp LSHFT   &kp DEL &kp BSPC  &kp CAPS  &kp SPACE &kp SPACE &kp RCMD    &kp RALT    &kp RCTRL  &kp SEMI                   
                        >;

			sensor-bindings = <&inc_dec_kp DEL BSPC>;
                };
	};
};
